@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color:#f2f3f3;
  --primary-color: #4891ff;
  --light-color: #ffff;
  --dark-color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
li {
    list-style: none;
    margin-right: 20px;
}
h1{
    font-size: clamp(1.5rem, 4vw, 2.2rem);
    text-align: center;
}
p{
    font-size: clamp(0.6rem, 2.5vw, 0.8rem);
    color: #ccc;
}
h2{
    font-size: clamp(1.3rem, 3vw, 2rem);
    text-align: center;
}
h3{
    font-size: clamp(0.8rem, 1.7vw, 1.3rem);
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
    gap: 40px;
}
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.btn{
  outline: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 12px;
  border-radius:12px;
  border :none;
  font-size: .8rem;
  display: inline-block;
  margin: 22px auto;
  font-family: 'poppins';
  text-transform: capitalize;
  cursor: pointer;
  & span i{
    margin-right: 6px;
  }
}

.title {
  text-align: center;
}
.container {
    padding: 12px 30px;
}
.main_section :where(aside, main) {
    padding: 20px 12px;
    border-radius: 20px;
}
.main_section{
    margin-top: 50px;
}
