
/* flooorplan----------- */
.floorPlan {
    position: relative;
    flex: 75%;
    height: calc(100vh - 300px);
    padding: 20px;
    background-color: var(--light-color);
}

.floorPlan>img {
    background: url('../images/workspace.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.floorPlan .grid {
    width: calc(100% - 24px);
    height: calc(100% - 40px);
    top: 20px;
    bottom: 20px;
    right: 12px;
    left: 12px;
    position: absolute;
    z-index: 1;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: repeat(2, 1fr);                            
}

.floorPlan .grid div {
    background: rgba(255, 255, 255, 0.3);          
}


/* tooolBox---------- */
.toolBox{
    background-color: var(--light-color);
    padding: 20px 12px;
    flex: 30%;  
    height: calc(100vh - 150px );
}
.workers{
    padding: 12px ;
}


