
/* flooorplan----------- */
.floorPlan {
    position: relative;
    flex: 75%;
    height: calc(100vh - 300px);
    padding: 20px;
    background-color: var(--light-color);
}

.floorPlan>img {
    background: url('../images/workspace.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.floorPlan .grid {
    position: absolute;
    top: 20px;
    left: 12px;
    right: 12px;
    bottom: 20px;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(20,1fr);
    gap:10px;
    overflow: hidden;
    z-index: 1;
}

 .floorPlan .grid div:first-child{
    grid-column: 1/21;
    grid-row: 1/8;
} 
.floorPlan .grid div:nth-child(2){
     grid-column: 28/40;
     grid-row: 1/8;
}
.floorPlan .grid div:nth-child(3){
     grid-column: 40/53;
     grid-row: 1/8;
} 
.floorPlan .grid div:nth-child(4){
     grid-column: 1/21;
     grid-row: 8/21;
} 
.floorPlan .grid div:nth-child(5){
     grid-column: 29/40;
     grid-row: 14/21;
} 
.floorPlan .grid div:last-child{
     grid-column: 40/53;
     grid-row: 14/21;
} 

.floorPlan .grid div {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 1;
}
.boxItem .add{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    margin-top: 12px;
    padding: 3px 5px;
    border: 2px solid #000;
    cursor: pointer;
} 
.added_workers .add{
    border-radius: 12px;
    margin-top: 12px;
    padding: 3px 5px;
    border: 2px solid #000;
    cursor: pointer;
}



/* tooolBox---------- */
.toolBox{
    background-color: var(--light-color);
    padding: 20px 12px;
    overflow-y: auto;
    flex: 30%;  
    height: calc(100vh - 150px );
}
/* workers-list-------- */
.workers{
    width: 100%;
    margin-top:22px ;
}
.profile-item {
    padding: 10px 20px;
    margin-inline:auto;
    border-bottom: 1px solid #eee;
    max-width: 400px;
    border-radius: 22px;
    transition: background-color 0.2s ease;
    margin-bottom: 12px;
    background-color: #e5e2e2;
}


.profile-item:hover {
    background-color: #f0f0f0;
}

.profile-avatar {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    overflow: hidden; 
    margin-right: 15px;
    background-color: #e0e0e0; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}


.profile-name {
    font-size: 1.1em;
    color: #333;
    font-weight: 500;
    text-transform: capitalize;
    span{
        font-size: 0.8rem;
        font-weight: 700;
    }
}

.added_workers{
    position: absolute;
    top: 50%;
    display: none;
    max-width: max-content;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--light-color);
    z-index: 333;
    padding: 32px;
    border-radius: 22px;
}
.added_workers.show{
    display: block;
}
.added_workers h3{
    margin-block: 22px;
    text-align: center;
}
 
.added_workers > div{
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.added_workers > div .flex{
    align-items: center;
    background-color: var(--primary-color);
    flex-direction: column;
    gap: 12px;
}
.added_workers :where(.add,.remove){
    background-color: var(--light-color);
    &i{
        color: var(--dark-color);
    }
}

/* items--------- */

.items.flex{
    max-width: 100%;
    flex-wrap: wrap;
    gap: 0px;
}
.items .profile-item{
    padding: 12px;
    background-color:#aaa !important;
    .profile-avatar {
    width: 40px; 
    height: 40px;
    img{
        width: 100%;
        height: 100%;
    }
}
}
.added-worker {
    flex-direction: row;
    width: 100px;
}
.items .profile-item .remove{
    border-radius: 12px;
    margin: 0;
    padding: 3px 5px;
    border: 2px solid #000;
    cursor: pointer;
}
.items > div {
    gap: 0;
}


/* form---------- */
.form-container {
    display: none;
    border-radius: 8px;
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 23;
    align-items: center;
    justify-content: center;
    inset: 0;
}
.form-container.show{
    display: flex ;
}

.formDiv {
    border-radius: 12px;
    background-color: var(--bg-color);
    width: 600px;
    padding: 30px;
    height: 700px;
    overflow-y: scroll;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--dark-color);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 24px;
    font-family: 'poppins';
    transition: border-color 0.3s;
}

input:focus {
    border-color: var(--primary-color);
    outline: none;
}


.form-group.success input {
    border:2px solid  #09c372;
}

.form-group.error input {
    border:2px solid #ff3860 ;
}
.form-group .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

/* --- SECTION EXPÉRIENCES --- */
.experience-section {
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin-top: 10px;
    background-color: #f9f9f9; /* Légèrement différent pour la clarté */
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-remove {
    background-color: #ff4848;
    color: var(--light-color);
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-family: 'poppins';
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-remove:hover {
    background-color: #cc3a3a;
}
.exp-row {
    display: flex;
    gap: 15px;
}
.exp-row .form-group {
    flex: 1;
}


@media (max-width:668px){
    body{
        font-size: 0.7rem;
    }
    .toolBox{
        flex: 100%;
        width: 100%;
    }
    .flex{
        flex-wrap: wrap;
        flex-direction: column;
    }
.floorPlan{
    transform: rotateZ(90deg);
}
}